<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nxt.ott">

    <uses-sdk tools:overrideLibrary="fm.jiecao.jcvideoplayer_lib" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.mycompany.myappname.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.nxt.ott.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE" />

    <permission
        android:name="com.nxt.ott.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nxt.ott.permission.MIPUSH_RECEIVE" />
    >
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--
      - Include all the "features" under the camera permission,
      - and mark them all as optional.
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.guide.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.account.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.pest.PestListActivity" />
        <activity android:name=".activity.pest.PestDetailActivity" />
        <activity android:name=".activity.pest.PestDetailActivity2" />
        <activity android:name=".activity.expert.ExpertHistoryActivity" />
        <activity android:name=".activity.guide.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.expert.ExperterListActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.expert.ExpertSh1Activity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.expert.ExpertSearchActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.titlebottom.AreaChooseActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.WebActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.account.MyLoginActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.expert.ExpertAskActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.information.AgricultureInfoActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.doctor.AgricultureDoctorActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.doctor.AgricultureDoctorTypeActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.doctor.KindChooseActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.doctor.DiseaseChooseActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.doctor.DiseasePictureActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.doctor.DiseaseResultActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.scan.ProductScanActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.scan.AgriculturalCapitalActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.scan.PesticideDetailActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.scan.PesticideListActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.scan.WriteEwmActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.titlebottom.AboutUsActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.titlebottom.EwmActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.account.RegisterStepOneActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.account.FeedBackActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.account.RegisterStepTwoActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.account.RegisterStepThreeActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.titlebottom.WeatherDetailActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.titlebottom.AreaSelectActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.convenience.WaterAndeElectricityActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.convenience.ConveniencePersonActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.convenience.MallChooseActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.appstore.AppstoreActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".zxing.CaptureActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.agricultureclass.VideoDetailActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.agricultureclass.FarmLessonActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.propaganda.CaptionOneActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.propaganda.CaptionTwoActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.propaganda.CaptionThreeActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.propaganda.CaptionFourActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.propaganda.CaptionFiveActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.expert.ExperterScreenListActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.account.SetActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.SupplyActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.wisdom.TwoCenterActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.wisdom.ThreePlatformActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.FbgqDetailActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.DoingActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.convenience.PhoneBillActivity"
            android:theme="@style/ZAppTheme" />
        <!-- 登陆 -->


        <!-- <service -->
        <!-- android:name="com.umeng.update.net.DownloadingService" -->
        <!-- android:process=":DownloadingService" /> -->


        <!-- <activity -->
        <!-- android:name="com.umeng.update.UpdateDialogActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->


        <!-- 视频通话 -->
        <activity
            android:name="com.hyphenate.chatuidemo.ui.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".activity.expertadvise.ExperterAdviseActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.expertanswer.ExpertAnswerActivity"
            android:theme="@style/ZAppTheme" />
        <activity
            android:name=".activity.expertanswer.ExpertAnswerDetailActivity"
            android:theme="@style/ZAppTheme" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.PictureScan" />
        <activity android:name=".AllActivity" />
        <activity
            android:name=".expertUpdate.CommentActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".expertUpdate.AskActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name=".expertUpdate.ExpertRecommedActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".expertUpdate.MyQuestionActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".server.LongRunningService"
            android:exported="false" />
        <service
            android:name=".server.DownLoadService"
            android:exported="false" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false" />

        <activity android:name=".activity.account.UserProfileActivity" />
        <activity android:name=".activity.account.RegisterActivity" />
        <activity android:name=".expertUpdate.ExperterListActivity" />

        <!-- 开机自启动服务 -->
        <receiver android:name="com.hyphenate.chatuidemo.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false" />

        <receiver
            android:name="com.hyphenate.chatuidemo.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />

                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>
        <!-- gcm end -->


        <!-- mi push -->
        <!-- <service -->
        <!-- android:name="com.xiaomi.mipush.sdk.PushMessageHandler" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <!-- <service -->
        <!-- android:name="com.xiaomi.mipush.sdk.MessageHandleService" -->
        <!-- android:enabled="true" /> -->


        <!-- <receiver -->
        <!-- android:name="com.hyphenate.chat.EMMipushReceiver" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.xiaomi.mipush.ERROR" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- mi push end -->


        <!-- <service -->
        <!-- android:name="com.umeng.update.net.DownloadingService" -->
        <!-- android:process=":DownloadingService" /> -->


        <!-- <activity -->
        <!-- android:name="com.umeng.update.UpdateDialogActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->


        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="zyl#jx12316" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="YXA6YcfpQOWUEeW524W0VX8FQg" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="hyphenate" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zEA1lRVRR9xHdYURVM7rvCRcW321Q8Xu" />
        <!-- 3ecea51f560650b1ed8a4b99808f52e8 -->
        <activity android:name=".activity.SoilActivity" />
        <activity
            android:name=".expertUpdate.AnswerList_Activity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.wisdom.WisdomActivity" />
        <activity android:name=".activity.doctor.DoctorMenuActivity" />
        <activity android:name=".expertUpdate.DetailActivity" />
        <activity android:name=".expertUpdate.ChooseActivity" />
        <activity android:name=".expertUpdate.GuideExperterActivity"></activity>
    </application>

</manifest>